---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=e4f33820&i=tt0232500
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 29 Jul 2021 17:31:35 GMT
    body:
      encoding: UTF-8
      string: '{"Title":"The Fast and the Furious","Year":"2001","Rated":"PG-13","Released":"22
        Jun 2001","Runtime":"106 min","Genre":"Action, Crime, Thriller","Director":"Rob
        Cohen","Writer":"Ken Li, Gary Scott Thompson, Erik Bergquist","Actors":"Vin
        Diesel, Paul Walker, Michelle Rodriguez","Plot":"Los Angeles police officer
        Brian O''Conner must decide where his loyalty really lies when he becomes
        enamored with the street racing world he has been sent undercover to destroy.","Language":"English,
        Spanish","Country":"United States, Germany","Awards":"11 wins & 18 nominations","Poster":"https://m.media-amazon.com/images/M/MV5BNzlkNzVjMDMtOTdhZC00MGE1LTkxODctMzFmMjkwZmMxZjFhXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"6.8/10"},{"Source":"Rotten Tomatoes","Value":"54%"},{"Source":"Metacritic","Value":"58/100"}],"Metascore":"58","imdbRating":"6.8","imdbVotes":"361,940","imdbID":"tt0232500","Type":"movie","DVD":"10
        Sep 2015","BoxOffice":"$144,533,925","Production":"Original Film, Neal H.
        Moritz Productions, Universal Pictures","Website":"N/A","Response":"True"}'
  recorded_at: Thu, 29 Jul 2021 17:39:44 GMT
recorded_with: VCR 6.0.0
